body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  min-width: 360px;
  width: 50%;
  margin: 0 10px;
}

#duration {
  width: 4em;
}
textarea {
  font-family: monospace;
}

input, button, textarea {
  margin-bottom: 10px;
}

#stripe {
  width:100px;
  height:100px;
  position:relative;
  background:#FF0000;
}

#http {
  display: inline-block !important;
}

#udp {
  display: inline-block !important;
}

#duration {
  width: 5em;
  display: inline-block;
}

.inline {
  display: inline-block;
}

#r {
  background-color: #ff000029;
  width: 5em;
  display: inline-block;
}

#g {
  background-color: #00ff0821;
  width: 5em;
  display: inline-block;
}

#b {
  background-color: #0400ff21;
  width: 5em;
  display: inline-block;
}

#w {
  background-color: #efefef;
  width: 5em;
  display: inline-block;
}

#box {
  border: 1px solid black;
  width: 388px;height: 100px;
  margin-top: 5px;
}

.stripe-box {
  padding: 2px;
  background: #dddd;
  box-shadow: 0px 0px 7px inset rgba(0,0,0,0.4);
  border-radius: 2px;
  margin: 20px;
}

.fullwidth {
  width: 100%;
}