body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  min-width: 360px;
  width: 50%;
  margin: 0 10px;
}

textarea {
  font-family: monospace;
}

input, button, textarea {
  margin-bottom: 10px;
}

#stripe {
  width:100px;
  height:100px;
  position:relative;
  background:#FF0000;
}

#r {
  background-color: #ff000029;
}

#g {
  background-color: #00ff0821;
}

#b {
  background-color: #0400ff21;
}

#w {
  background-color: #efefef;
}

.stripe-box {
  padding: 2px;
  background: #dddd;
  box-shadow: 0px 0px 7px inset rgba(0,0,0,0.4);
  border-radius: 2px;
  margin: 20px;
}

.fullwidth {
  width: 100%;
}
